.big-article-container {
  height: 110vh;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;

  .header-trigger {
    margin-top: 20px;
    height: 40px;
    border-bottom: 1px solid #979797;
    .logo-container {
      width: 100px;
      height: 28px;

      .header-menu {
        height: 35px;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;

        .menu {
          -webkit-transition: all 2s ease;
          -moz-transition: all 2s ease;
          -o-transition: all 2s ease;
          -ms-transition: all 2s ease;
          transition: all 2s ease;
        }

        .active {
          transform: translate3d(0,-50%,0) translate3d(0,0,0) rotate(45deg);
        }
      }

      .header-menu:focus {
        border: none;
      }

    }
  }

  .text-wrapper {
    display: flex;
    align-self: center;
    justify-content: end;

    h1 {
      font-size: 20rem;
      width: 100%;
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: end;
    align-content: flex-end;

    .anchor-btn {
      width: 170px;
      background-color: #000000;
      height: 50px;
      color: #ffff;
      text-transform: uppercase;
      margin-bottom: 50px;
      margin-right: 22%;
    }
  }
}

.mobile-section {
  display: none;
}




.home-section-supports-webp {
  background-image: url('../../../../assets/imgs/florensis_header.webp');
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  background-size:cover;
}



.home-section-does-supports-webp {
  background-image: url('../../../../assets/imgs/florensis_header.png');
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  background-size: 100%;
}


@media (max-width: 992px) {
  .big-article-container {
    height: 90vh;
  }
}

@media (max-width: 992px) {
  .big-article-container {
    height: 90vh;
  }
}

@media (max-width: 768px) {
  .big-article-container {
    height: 80vh;
  }
}

@media (max-width: 576px) {
  .big-article-container {
    height: 350px;

    .text-wrapper {
      text-align: center;
      h1 {
        font-size: 16rem;
      }

    }

    .btn-wrapper {
      display: none;
    }
  }

  .mobile-section {
    display: block;
    padding: 20px 60px;

    .anchor-btn-mobile {
      width: 100%;
      background-color: #000000;
      height: 50px;
      color: #ffff;
      text-transform: uppercase;
    }
  }
}
