@font-face {
  font-family: 'teko';
  src: url('./assets/fonts/Teko-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'teko-bold';
  src: url('./assets/fonts/Teko-Bold.ttf') format('opentype');
}
@font-face {
  font-family: 'teko-light';
  src: url('./assets/fonts/Teko-Light.ttf') format('opentype');
}
@font-face {
  font-family: 'teko-medium';
  src: url('./assets/fonts/Teko-Medium.ttf') format('opentype');
}
@font-face {
  font-family: 'teko-semibold';
  src: url('./assets/fonts/Teko-semibold.ttf') format('opentype');
}
