<article>
  <!-- <div class="row">
    <div class="col-xs-12 offset-sm-8 offset-md-8 offset-lg-8 col-sm-4 col-md-4 col-lg-4 d-flex">
      <span>Show me: </span>
      <select (change)="onChange($event.target.value)">
        <option selected value="all work">all work</option>
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
      <span> in </span>
      <select>
        <option selected value="all industries">all industries</option>
        <option *ngFor="let industry of industries" [value]="industry">{{industry}}</option>
      </select>
    </div>
  </div> -->

  <dept-filter (filtered)="isFiltered = $event" [works]="works" [industries]="industries" [categories]="categories"></dept-filter>

  <!-- 4 articles -->

  <ng-container *ngIf="!isFiltered">
    <dept-non-sponsored-projects [firstArticles]="firstNonSponsoredArticlesFourple"></dept-non-sponsored-projects>

    <!-- 3 articles -->
    <dept-sponsored-projects [firstArticles]="firstSponsoredArticles"></dept-sponsored-projects>

    <!-- 2 articles -->
    <dept-non-sponsored-projects [firstDoubleArticles]="firstNonSponsoredArticlesDouble"></dept-non-sponsored-projects>

    <!-- 3 articles -->
    <dept-sponsored-projects [secondArticles]="secondSponsoredArticles"></dept-sponsored-projects>

    <!-- 4 articles -->
    <dept-non-sponsored-projects [secondArticles]="secondNonSponsoredArticlesFourple"></dept-non-sponsored-projects>

    <dept-testimonial></dept-testimonial>

      <!-- 2 articles -->
    <dept-non-sponsored-projects [secondDoubleArticles]="secondNonSponsoredArticlesDouble"></dept-non-sponsored-projects>

    <dept-clients></dept-clients>

    <dept-questionnaire></dept-questionnaire>
  </ng-container>
</article>
