<section class="container-fluid">
  <div class="row">
    <div class="offset-xs-2 col-xs-8 offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-3 col-lg-6 text-container">
      “Dept helped us tell our story through a bold new identity
      and a robust online experience. To the tune of 60% growth
      in online bookings in just one month.”
    </div>
  </div>
  <div class="row">
    <div class="offset-xs-2 col-xs-8 offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-3 col-lg-6 text-container">
      <p>
        MATTIJS TEN BRINK – CEO, TRANSAVIA
      </p>
    </div>
  </div>
</section>
