.container-fluid {
  width: 90%;
  margin-top: 20px;
  padding: 100px 0 80px 0;
  border-top: 1px solid #979797;
}

div {
  font-size: 1.8rem;
}

@media (max-width: 576px) {
  .container-fluid {
    .text-container {
      padding: 0 65px
    }
  }
}

