<section>
  <div class="big-article-container d-flex row" [ngClass]="{'home-section-supports-webp': supportsWebP, 'home-section-does-supports-webp': !supportsWebP}">
    <div class="text-wrapper col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h1>Work</h1>
    </div>
    <div class="btn-wrapper col-xs-12 col-sm-12 col-md-6 col-lg-6 align-self-end justify-content-end">
      <button class="anchor-btn">View Case</button>
    </div>
  </div>
  <div class="container mobile-section">
    <div class="row">
      <button class="col-xs-12 anchor-btn-mobile">View Case</button>
    </div>
  </div>
</section>
<section>
  <dept-work></dept-work>
</section>
